body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 899px;
}

.oswald-text {
  font-family: "Oswald";
  margin-bottom: 0px;
  margin-top: 0px;
}

#article-title-details h1 {
  font-size: 45px;
}

#article-title-details {
  margin-top: 50px;
  margin-bottom: 25px;
}

#print-icon {
  margin-left: 698px;
}

#article-print img, #article-print p {
  display: inline-block;
}

#section-header-left{
  display: inline-block;
}

#section-header-left img {
  display: inline-block;
}

#brand-text {
  margin-bottom: 0;
  margin-top: 0;
}

#header-left-slogan {
  margin-bottom: 0;
  margin-top: 0;
}

#section-header-left-text {
  display: inline-block;
  font-family: 'Patrick Hand', monospace;
}

#section-header-right-social{
  display: inline-block;
  position: relative;
  margin-left: 412px;
}

#section-header-right-social ul {
  display: inline;
  list-style: none;
}
#section-header-right-social ul li {
  display: inline;
}

header{
  border-bottom: thick;
  border-bottom-style: dashed;
  border-bottom-color: gray;
  border-width: 3px;
}
