#section-header-left{
  display: inline-block;
}

#section-header-left img {
  display: inline-block;
}

#section-header-left-text {
  display: inline-block;
}

#section-header-right-social{
  display: inline-block;
}

#section-header-right-social ul {
  display: inline;
  list-style: none;
}
#section-header-right-social ul li {
  display: inline;
}

header{
  border-bottom: thick;
  border-bottom-style: dashed;
  border-bottom-color: gray;
  border-width: 15px;
}
