#section-header-left{
  display: inline;
}
#section-header-right-social{
  display: inline;
  float: right;
  list-style: none;
}

#logo {
  display: inline;
}

#section-header-right-social ul {
  display: inline;
  list-style: none;
}
#section-header-right-social ul li {
  display: inline;
}
